<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      UnicamParking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <img id="imgCar" src="../../assets/Uni.jpg">

  <div id="container">
      <img src="../../assets/logo.png">

    <h1>Registrati su UnicamParking e prenota il tuo parcheggio così potrai godere dei vantaggi in tutte le sedi Unicam </h1>
    <h6>Programma creato e sviluppato da: Ludovico Latini e Yuri Monti, per il progetto del corso di Progettazione di Applicazioni Web e Mobile tenuto dal 
      Professor. Diego Bonura.</h6>
    <p><a href="../login">login</a> o <a href="../register">registrati</a></p>
  </div>
</ion-content>
