

<ion-content>
  <ion-button (click)="logout()" routerLinkActive="router-link-active"  color="tertiary">LOGUOT</ion-button>
  <img id="imgCar" src="../../assets/Uni.jpg">

  <div id = "container">
    <ion-item button (click)="presentActionSheet()" color="danger" >
      <ion-label>
      Parcheggio 1    
    </ion-label>
    </ion-item>
    <ion-item button (click)="presentActionSheet()" color="danger">
      <ion-label>
      Parcheggio 2    
    </ion-label>
    </ion-item>
    <ion-item button (click)="presentActionSheet()" color="success">
      <ion-label>
      Parcheggio 3    
    </ion-label>
    </ion-item>
    <ion-item button (click)="presentActionSheet()" color="success">
      <ion-label>
      Parcheggio 4    
    </ion-label>
    </ion-item>
    <ion-item button (click)="presentActionSheet()" color="danger">
      <ion-label>
      Parcheggio 5    
    </ion-label>
    </ion-item>
    <ion-item button (click)="presentActionSheet()" color="success">
      <ion-label>
      Parcheggio 6    
    </ion-label>
    </ion-item>
  </div>
  
</ion-content>
